<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Colombraro Logo -->
        <span >
            <img src="../../../assets/img/colombraro-logo.png" alt="Colombraro-log" height="50" width="100"  class="rounded">
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/product" routerLinkActive="active">
                        <i class="fas fa-boxes"></i>
                        Productos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/product/create/" routerLinkActive="active">
                        <i class="fas fa-plus"></i>
                        Crear Productos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
